[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "mixpoissonreg"]
	path = mixpoissonreg
	url = https://github.com/vpnsctl/mixpoissonreg
